

NET "clk" LOC = C9;
NET "leds<0>" LOC = R14;
NET "leds<1>" LOC = C3;
NET "leds<2>" LOC = E6;
NET "leds<3>" LOC = D6;
NET "rxd" LOC = U8;
NET "txd" LOC = M13;

# PlanAhead Generated physical constraints 

NET "reset" LOC = K17;
