NET "Clk" LOC = C9;
NET "rxd" LOC = U8;
NET "txd" LOC = M13;
# PlanAhead Generated physical constraints 
NET "Reset" LOC = K17;
NET "leds<0>"  LOC = "A8";
NET "leds<1>"  LOC = "G9";
NET "leds<2>"  LOC = "A7";
NET "leds<3>"  LOC = "D13";
NET "leds<4>"  LOC = "D6";
NET "leds<5>"  LOC = "E6";
NET "leds<6>"  LOC = "C3";
NET "leds<7>"  LOC = "R14";
NET "VGA_RED" LOC = "H14";
NET "VGA_GREEN" LOC = "H15";
NET "VGA_BLUE" LOC = "G15";
NET "VGA_HSYNC" LOC = "F15";
NET "VGA_VSYNC" LOC = "F14";
NET "PS2Clk" LOC = "G14";
NET "PS2Data" LOC = "G13";
NET "PS2Clk" CLOCK_DEDICATED_ROUTE = FALSE;
